<!-- projects/templates/projects/project_detail.html -->

{% load static %}
{% load bootstrap_icons %}



<!-- Portfolio Modal-->
{% for project in projects %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="portfolioModal{{ forloop.counter }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ project.title }}</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon">{% bs_icon 'star-fill' size='2.5rem' extra_classes="bi-valign-icon" %}</div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{{ project.image.url }}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">{{ project.description }}</p>
{#                                    <button class="btn btn-primary" data-bs-dismiss="modal">#}
{#                                        {% bs_icon 'x-lg' extra_classes='bi-valign-default' %}#}
{#                                        Close Window#}
{#                                    </button>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
