{% load static %}
{% load bootstrap_icons %}

<section class="page-section" id="about-me">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- About Me Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary">About Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">{% bs_icon 'star-fill' size='2.5rem' extra_classes="bi-valign-icon" %}</div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Me Section Content-->
                <div class="container-fluid">
                    <div class="row ms-auto"><p class="lead">A highly dedicated and results-oriented engineer with a
                        demonstrated record of experience in Java design flow creation and improvement with integration
                        with MySQL and Python, power applications engineering, efficiency and power dissipation
                        modeling, power system solution design, DC-DC power converters. Leverages excellent analytical,
                        problem-solving, and troubleshooting skills, as well as the ability to effectively interface
                        across functions and organizational levels, to help design and deliver high-quality products and
                        components. Can adjust on the fly and learn quickly to achieve results.</p></div>
                    <div class="row ms-auto"><p class="lead">Received a Bachelors of Science in Electrical Engineering
                        at Santa Clara University in 2014. </p></div>
                    <!--------- Download Resume ------->
                    <div class="text-center">
                        <a class="btn btn-primary px-4 py-3" href="#!">
                            <div class="d-inline-block me-2">{% bs_icon 'download' %}</div>
                            Download Resume
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>