{#{% extends 'base.html' %}#}
{% extends 'pages/home.html' %}


{% block contact_content %}
    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form action="/contact/" id="contactForm" method="post">
                        {% csrf_token %}

                        {% for field in form  %}
                            <div class="form-floating mb-3">

                                {{ field.as_widget }}
                                <div class="form-label ">
                                    {% if field.use_fieldset %}
                                    <fieldset>
                                        {% if field.label %}{{ field.legend_tag }}{% endif %}
                                        {% else %}
                                        {% if field.label %}{{ field.label_tag }}{% endif %}
                                {% endif %}
                                    </fieldset>
                                </div>
                            {% if field.help_text %}<div class="helptext"{% if field.id_for_label %} id="{{ field.id_for_label}}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}